header {
    height: 129vh;
    padding-top: 7rem;
    overflow: hidden;
}

.header__container {
    text-align: center;
    height: 100%;
    position: relative;
}

/* ************************** CTA **************************** */
.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/* ************************** Header Socials **************************** */
.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 12rem;
}

/* Adding a line after header socials */
.header__socials::after {
    content: "";
    width: 1px;
    height: 2rem;
    background-color: var(--color-primary);
}

/* ************************** Image ME **************************** */
.me {
    background: linear-gradient(var(--color-primary), transparent);
    width: 46rem;
    height: 35rem;
    position: absolute;
    left: calc(50% - 23rem);
    margin-top: 4rem;
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
}

.specific_me {
    width: 46rem;
    height: 38rem;
    margin-top: -2rem !important;
}

/* ************************** Scroll Down **************************** */
.scroll__down {
    position: absolute;
    right: -2.3rem;
    bottom: 16rem;
    transform: rotate(90deg);
    font-weight: 300;
}

/* ************************** MEDIA QUERIES (MEDIUM DISPLAY DEVICES)**************************** */
@media screen and (max-width: 1024px) {
    .me {
        width: 36rem;
        left: calc(50% - 18rem);
    }

    .specific_me {
        width: 36rem;
        height: 42rem;
    }

    header {
        height: 109vh;
    }
}

/* ************************** MEDIA QUERIES (SMALL DISPLAY DEVICES)**************************** */
@media screen and (max-width: 600px) {
    header {
        height: 109vh;
    }

    .me {
        width: 27rem;
        left: calc(50% - 13.5rem);
    }

    .specific_me {
        width: 27rem;
        height: 45rem;
    }

    .header__socials {
        z-index: 3;
    }
}